
header {
    background-color: skyblue;
    border: 2px solid grey;
    padding: 20px;
}

header nav {
    text-align: center;
    padding: 10px;

}

header nav li {
    display: inline-block;
    margin: 0 10px;
}

header nav input [type="text"],
header nav span {
    margin-left: 10px;
}

header h1 {
    text-align: center;
    margin-top: 20px;
}

header h1 p {
    text-align: center;
    margin-top: 20px;
    
}

section h2 {
    background-color: white;
    border: 2px solid white;
    padding: 20px;
    text-align: center;
}

section:nth-of-type(2) {
    background: white;
    text-align: center;
    padding: 40px 20px
}

section:nth-of-type(2) h1 {
    padding: 10px;
}

section:nth-of-type(2) p{
    padding: 0 20px;
    line-height: 1.6;
}

section:nth-of-type(3) section {
    text-align: center;
    padding: 40px 20px;
}

section:nth-of-type(4) section {
    text-align: center;
    padding: 40px 20px
}




