body {
    background-color: skyblue;
    border: 2px solid limegreen;
    font-family: Roboto;
    margin-left: 22px;
    margin-right: 22px;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;

}





